.JO-float-left-img{
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    width: 25%;
    height: auto;
}
.JOcontainer {
    position: relative;
    width: 100%;
}
.JOimage {
    display: block;
    width: 100%;
    height: auto;
    object-position: center;
}
.JOoverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: black;
}
.JOcontainer:hover .JOoverlay {
opacity: 1;
}
.JOtext {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}