body {
    background: none no-repeat center center; 
    background-image: url(images/earth.jpeg);
    background-size: cover;
    font-family: Discovery;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body a[href^="http"]:not([href*="654-final-project.com"])::after {
   content: " \2197";
}
body a:link, a:visited {
   color:#9f2980;
}
body a:hover {
   color: rgba(255, 255, 255, 1);
   cursor: url(images/icon-space-shuttle-click.png), pointer;
}
header {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 960px;
    margin: auto;
    margin-bottom: 20px;
    z-index: 2;
    color: rgba(255, 255, 255, 1);
    background-image: url(images/moon-header.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
footer {
    text-align: center;
    font-size: smaller;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(223, 214, 241, 0.8);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0;
}
.navbar {
    border-top: 2px solid black;
    margin-top: 0;
    margin-bottom: auto;
}
.navlinks {
    list-style: none;
    gap: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
.navlinks a:link, a:visited, a:active {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
.navlinks a:hover {
    color: #9f2980;
    text-decoration: none;
}
.textcontainer {
    border: 2px solid black;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    Max-width: 960px;
    text-align: left;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
